<nav class="navbar navbar-expand-md navbar-dark bg-primary" style="" >
  <div class="container"> <a class="navbar-brand" href="#"><i class="fa d-inline fa-lg fa-university"></i>
    <b> Student Hostel BNTU #18</b>
  </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar16">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbar16">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"> <a class="nav-link" href="#">Student List</a> </li>
        <li class="nav-item text-light"> <a class="nav-link" href="#" contenteditable="true">Employee List</a> </li>
        <li class="nav-item text-light"> <a class="nav-link" href="#">Room List List</a> </li>
        <li class="nav-item"> <a class="nav-link text-white" href="#"><i class="fa fa-fw fa-sign-in"></i>SignOut</a> </li>
      </ul>
    </div>
  </div>
</nav>
