<div class="text-center py-4" style="">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-lg-4 text-center" style=""><img class="img-fluid d-block rounded-circle my-4 mx-auto" src="https://static.pingendo.com/img-placeholder-3.svg" >
        <h4 class=""><b>Hi Student!</b></h4>
      </div>
      <div class="border-bottom col-md-8 col-lg-8" style="">
        <div class="table-responsive" style="">
          <h2 class="text-center"><i></i> <b>Information</b></h2>
          <table class="table table-striped">
            <thead class="">
            <tr>
            </tr>
            </thead>
            <tbody class="text-left">
            <tr>
              <td><b>First Name</b></td>
              <td>-</td>
            </tr>
            <tr>
              <td><b>Second Name</b></td>
              <td>-</td>
            </tr>
            <tr>
              <td><b>Middle Name</b></td>
              <td>-</td>
            </tr>
            <tr>
              <td><b>Number Phone</b></td>
              <td>-</td>
            </tr>
            <tr>
              <td><b>Number Group</b></td>
              <td>-</td>
            </tr>
            <tr>
              <td><b>Number Room</b></td>
              <td>-</td>
            </tr>
            </tbody>
            <tbody>
            <tr>
              <td class="text-left"><b class="text-left">Status Passport</b></td>
              <td class="text-left">-</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-md-7 bg-light" style="">
            <h1 class=""><b style="">Payment arrears:</b></h1>
          </div>
          <div class="col-md-5 bg-info" style="">
            <h1 class="" contenteditable="true"><b>10.50 BYN</b></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 my-3" style="">
        <h2 class="bg-primary text-light m-2" contenteditable="true"><b>You Working Off</b></h2>
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>#</th>
              <th>Discription</th>
              <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1</td>
              <td>-</td>
              <td>23.09.2020</td>
            </tr>
            <tr>
              <td>2</td>
              <td>-</td>
              <td>23.09.2020</td>
            </tr>
            <tr>
              <td>3</td>
              <td>-</td>
              <td>24.09.2020</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="">
        <h2 class="m-2 bg-info text-body"><b>You Reprimand</b></h2>
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>#</th>
              <th>Discription</th>
              <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1</td>
              <td>-</td>
              <td>23.09.2020</td>
            </tr>
            <tr>
              <td>2</td>
              <td>-</td>
              <td>23.09.2020</td>
            </tr>
            <tr>
              <td>3</td>
              <td>-</td>
              <td>24.09.2020</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
