<div class="text-center pb-1 pt-4">
  <div class="container">
    <div class="row">
      <div class="mx-auto col-md-12" style="">
        <h1 class="mb-3">Please choose the right employee </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-6 p-4" > <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="https://static.pingendo.com/img-placeholder-2.svg" width="100" alt="Card image cap">
        <h4> <b>Gregory</b> </h4>
        <p>Co-founder</p>
        <p class="mb-0"> <i>"As I lie close to the earth, a thousand unknown plants"</i> </p><a class="btn btn-primary mt-3" href="#">Outline</a>
      </div>
      <div class="col-lg-4 col-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="https://static.pingendo.com/img-placeholder-3.svg" width="100">
        <h4> <b>James</b> </h4>
        <p>CFO</p>
        <p class="mb-0"> <i>"Then, my friend, when darkness overspreads my eyes"</i> </p>
        <div class="col-md-12"><a class="btn btn-primary mt-3" href="#" style="">Outline</a></div>
      </div>
      <div class="col-lg-4 col-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="https://static.pingendo.com/img-placeholder-2.svg" width="100" alt="Card image cap">
        <h4> <b>Gregory</b> </h4>
        <p>Co-founder</p>
        <p class="mb-0"> <i>"As I lie close to the earth, a thousand unknown plants"</i> </p><a class="btn btn-primary mt-3" href="#">Outline</a>
      </div>
      <hr>
    </div>
  </div>
</div>
<div class="">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <hr>
        <h1 class="text-center mt-4">Your active statements&nbsp;</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th scope="col" class="table-info" style="	box-shadow: 0px 0px 4px  black;">#</th>
              <th scope="col" class="table-info">discription</th>
              <th scope="col" class="table-info">employ</th>
              <th scope="col" class="table-info">date</th>
              <th scope="col" class="table-info">status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">1</th>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
