<div class="py-4" style="">
  <div class="container">
    <div class="row d-flex justify-content-center text-center ">
      <div class="p-3 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h1 class="text-center">Floor Duty Schedule</h1>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped table-borderless">
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Number Room</th>
                  <th scope="col">Date</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let duty of duty1; let i = index">
                  <th scope="row">{{i+1}}</th>
                  <td>{{duty.roomId.numberRoom}}</td>
                  <td>{{duty.date| date: 'yyyy-MM-dd'}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="p-3 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h1 class="text-center">Entrance Duty Schedule</h1>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped table-borderless">
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Number Room</th>
                  <th scope="col">Date</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let duty of duty2; let i = index">
                  <th scope="row">{{i+1}}</th>
                  <td>{{duty.roomId.numberRoom}}</td>
                  <td>{{duty.date| date: 'yyyy-MM-dd'}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
