<div class="py-4">
  <div class="container">
    <div class="row">
      <div class="text-center col-md-12">
        <h1 ><b>You Neighbours</b></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-lg-6 p-3">
        <div class="row">
          <div class="col-md-4" style=""><img class="img-fluid d-block rounded-circle my-4" src="https://static.pingendo.com/img-placeholder-3.svg"></div>
          <div class="col-md-8 mt-3" style="">
            <div class="table-responsive" style="">
              <table class="table table-striped">
                <thead class="">
                <tr>
                </tr>
                </thead>
                <tbody class="text-left">
                <tr class="mt-2">
                  <td><b>First Name</b></td>
                  <td>-</td>
                </tr>
                <tr>
                  <td><b>Second Name</b></td>
                  <td>-</td>
                </tr>
                <tr>
                  <td><b>Middle Name</b></td>
                  <td>-</td>
                </tr>
                <tr>
                  <td><b>Number Phone</b></td>
                  <td>-</td>
                </tr>
                <tr>
                  <td><b>Number Group</b></td>
                  <td>-</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-lg-6 p-3">
        <div class="row">
          <div class="col-md-4" style=""><img class="img-fluid d-block rounded-circle my-4" src="https://static.pingendo.com/img-placeholder-3.svg"></div>
          <div class="col-md-8 mt-3" style="">
            <div class="table-responsive" style="">
              <table class="table table-striped">
                <thead class="">
                <tr>
                </tr>
                </thead>
                <tbody class="text-left">
                <tr class="mt-2">
                  <td><b>First Name</b></td>
                  <td>-</td>
                </tr>
                <tr>
                  <td><b>Second Name</b></td>
                  <td>-</td>
                </tr>
                <tr>
                  <td><b>Middle Name</b></td>
                  <td>-</td>
                </tr>
                <tr>
                  <td><b>Number Phone</b></td>
                  <td>-</td>
                </tr>
                <tr>
                  <td><b>Number Group</b></td>
                  <td>-</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-lg-6 p-3">
        <div class="row">
          <div class="col-md-4" style=""><img class="img-fluid d-block rounded-circle my-4" src="https://static.pingendo.com/img-placeholder-3.svg"></div>
          <div class="col-md-8 mt-3" style="">
            <div class="table-responsive" style="">
              <table class="table table-striped">
                <thead class="">
                <tr>
                </tr>
                </thead>
                <tbody class="text-left">
                <tr class="mt-2">
                  <td><b>First Name</b></td>
                  <td>-</td>
                </tr>
                <tr>
                  <td><b>Second Name</b></td>
                  <td>-</td>
                </tr>
                <tr>
                  <td><b>Middle Name</b></td>
                  <td>-</td>
                </tr>
                <tr>
                  <td><b>Number Phone</b></td>
                  <td>-</td>
                </tr>
                <tr>
                  <td><b>Number Group</b></td>
                  <td>-</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-lg-6 p-3">
        <div class="row">
          <div class="col-md-4" style=""><img class="img-fluid d-block rounded-circle my-4" src="https://static.pingendo.com/img-placeholder-3.svg"></div>
          <div class="col-md-8 mt-3" style="">
            <div class="table-responsive" style="">
              <table class="table table-striped">
                <thead class="">
                <tr>
                </tr>
                </thead>
                <tbody class="text-left">
                <tr class="mt-2">
                  <td><b>First Name</b></td>
                  <td>-</td>
                </tr>
                <tr>
                  <td><b>Second Name</b></td>
                  <td>-</td>
                </tr>
                <tr>
                  <td><b>Middle Name</b></td>
                  <td>-</td>
                </tr>
                <tr>
                  <td><b>Number Phone</b></td>
                  <td>-</td>
                </tr>
                <tr>
                  <td><b>Number Group</b></td>
                  <td>-</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
